
/* BASE CSS SETTINGS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexcontainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.centercontents{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
@media screen and (max-width: 600px) {
  #menu{
    margin-top: 5vh;
  }
} */

@font-face {
    font-family: title;
    src: url(../font/LEMONMILK-Bold.otf);
}
@font-face {
  font-family: main;
  src: url(../font/MonoRegular.ttf);
}

/* BASE CSS SETTINGS */
body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center; 
  margin: 0; 
  height: 100vh; 
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100vh;
  overflow-y: auto;
  
}

.placeholderdiv{
  width: 100%;
  height: 5%;
}

#glasscard{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    min-width: 90%;
    min-height: 90vh;
    max-width: 95%;
    margin: auto;
}
@media (hover: none) and (pointer: coarse) {
  #glasscard {
      backdrop-filter: none; /* Remove blur effect */
      -webkit-backdrop-filter: none;
      background: rgba(71, 71, 71, 0.39);
      border: 1px solid rgba(102, 102, 102, 0.39);
  }
}


#menu{
    min-width: 100%;
    height: 5vh;
    background: rgb(24 25 26 / 60%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    
}

#menu a{
    color: #fff;
}

#menu p{
    color: #fff;
    font-size: 1.5rem;
    padding: 0 0.8rem;
    transition: 0.2s;
    margin-right: 0.8rem;
    transition: 0.3s;
    border-radius: 20px;
    box-shadow: 6px 5px 15px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 5px 15px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 5px 15px -4px rgba(0,0,0,0.75);
}


#usericon{
    background-color: rgb(24 25 26 / 60%);
    border-radius: 2.5px;
    max-width: fit-content;
    padding: 2rem;
    margin: 2rem;
    border-radius: 45%;
}
 #usericon p{
    font-size: 5rem;
    color: #fff;
}


/* GLITCH EFFECT */

.right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  #titlediv{
    font-family: Title;
    color: #fff;
    margin: 1rem;
    font-size: 1.7rem;
  }


  @media screen and (max-width: 600px) {
    #titlediv{
        font-size: 1.2rem;
        margin: 0.6rem;
    }
    .stack span{
        font-size: 1.8rem !important;
    }
    #usericon p{
        font-size: 3rem;
    }
    #usericon{
        background-color: rgb(24 25 26 / 60%);
        border-radius: 2.5px;
        max-width: fit-content;
        padding: 1.5rem;
        margin: 0.6rem;
        border-radius: 45%;
    }
  }


  .stack span {
    
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem ;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 240ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 rgb(0, 119, 255);
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 rgb(0, 119, 255);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 rgb(0, 119, 255);
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 rgb(0, 119, 255);
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }




  #textcontainer{
    max-width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: main;
  }

  #textcontainer p {
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  #textcontainer ul{
    align-self: center;
    width: 80%;
  }

  #textcontainer ul li{
    place-items: center;
    text-align: center;
  }

  #textcontainer ul li p{
    font-size: 1.1rem;
    min-width:100% !important;
  }

  #textcontainer ul.b {
    list-style: none; /* Removes default bullets */
    padding: 0;       /* Ensures no extra padding on the list */
}



/* buttons */
button {
  font-size: 1.25rem;
  background-color: white;
  color: black;
  width: 2.813rem;
  height: 2.813rem;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  border-radius: 0.5rem;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}

@keyframes bounce_513 {
  0%,
    100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}



#projects {
  min-height: 80%;
}

#project{
  width: 85%;
}

.spacer{
  width: 7%;
}

.spacerbottom{
  height: 5vh;
}
.RR{
  rotate: 90deg;
}

.RL{
  rotate: 270deg;
}

@media screen and (max-width: 780px) {
  button{
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
  }
  .spacer{
    width: 15%;
  }
  #project{
    width: 70%;
  }

  #projectalignment{
    align-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    
  }
  
  #projectalignment p {
    width: 100% !important;
  }
  #projectalignment #proimgdiv{
    width: 100% !important;
  }

}

.projectthumbnail{
  width: 90%;
  height: auto;
  align-self: center;
}

#projecttitle h1{
  font-family: title;
  color: #fff;
  text-align: center;
}

#projecttitle i{
  color: #fff;
  transition: 0.5s;
}


#projecttitle{
  text-align: center;
}

#projecttitle p{
  font-family: main;
  color: #fff;
}


@media screen and (max-width: 800px) {
  #projecttitle h1{
    font-size: 1.2rem;
  }
  #projecttitle p{
    font-size: 0.8rem;
  }
  .links{
    margin-top: 1.5rem;
  }
  #projectalignment #proimgdiv img{
    width: 100% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 1000px){
  .enlarged {
    transform: scale(1.5) translate(0, 0); /* Scale up and keep centered */
  }
}


.projectthumbnail {
  cursor: pointer;
  transition: transform 0.5s ease-in-out; /* Smooth transition for transform */
  position: relative;
  z-index: 1;
  transform-origin: center; /* Scale from the center */
  width: 10rem;
  height: auto;
  border-radius: 2%;
  margin-bottom: 2rem;
  transition: 0.5s;
}

.projectthumbnail:hover{
  box-shadow: 4px 7px 14px 2px #1e1e1e;
  transition: top ease 0.5s;
  transition: 0.5s;
}

.enlarged {
  transform: scale(1.2) translate(0, 0); /* Scale up and keep centered */
  z-index: 9999; /* Ensure it's on top of other elements */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Optional shadow for emphasis */
}


#projectalignment{
  display: flex;
  
}

#projectalignment p {
  width: 40%;
  margin-left: 0.5rem;
  align-content: center;

}
#projectalignment #proimgdiv{
  width: 60%;
  max-height: 100%;
  align-content: center;


}


#projectalignment #proimgdiv img{
 width: 70%;
 height: auto;
 align-content: center;
}

.links{
  margin-top: 1rem;
}


.fa-home{
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  background-color: #F05247;
  cursor: pointer;
}

.fa-info-circle{
  padding: 0.5rem 0.8rem;
  border-radius: 25px;
  background-color: #EBB256;
  cursor: pointer;
}

.fa-code-fork{
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  background-color: #85C662;
  cursor: pointer;
}


/* contact */

#discordc{
  background: #5562EA;
  border-radius: 100px 0 0 0;
  -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
.c svg{
  fill: white;
  width: 20%;
  height: auto;
  align-self: center;
}

#linkedinc{
  background: #0077B5;
  border-radius: 0 100px 0 0;
  -moz-border-radius:0 100px 0 0;
  -webkit-border-radius:0 100px 0 0;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}



#emailc{
  background: #0F3464;
  border-radius: 0 0 100px  0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
  margin-left: 0.3rem;
  margin-top: 0.3em;
}


#gitc{
  background: #24292E;
  border-radius: 0 0 0 100px ;
  -moz-border-radius: 0 0 0 100px ;
  -webkit-border-radius: 0 0 0 100px ;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}

#contactcontainer{
  height: 80%;
  width: 100%;

}


@keyframes shake {
  0% { transform: scale(1) rotate(0deg); }
  25% { transform: scale(1.02) rotate(1deg); }
  50% { transform: scale(1.02) rotate(-1deg); }
  75% { transform: scale(1.02) rotate(1deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.c:hover{
  animation: shake 0.6s ease-in-out infinite
}

.shapeconatiner {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next row */
  justify-content: center; /* Centers the items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 0 0.5rem; /* Creates space between the circles */
  width: 100% /* Adjust this value based on your layout */
}

.c {
  height: 5rem; /* Adjust size */
  width:35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Makes it a perfect circle */
  background-color: rgba(255, 255, 255, 0.2); /* Optional */
  flex-shrink: 0; /* Prevents items from resizing */
}


#titletext{
  font-family: title;
  color: #fff;
  text-align: center;
}